@using CalendarPlanning.Shared.Models.DTO;
@using Microsoft.AspNetCore.Components.QuickGrid;

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>EmployeeList</h3>

@if (employees is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="employees.AsQueryable()" Pagination="paginationState">
        <PropertyColumn Property="e => e.FirstName" Title="First Name" Sortable="true" />
        <PropertyColumn Property="e => e.LastName" Title="Last Name" Sortable="true" />
        <PropertyColumn Property="e => e.StoreName" Title="Store Name" />
        <PropertyColumn Property="e => e.StoreAddress" Title="Store Address" />
        <TemplateColumn>
            <button class="btn btn-primary" onclick="@(() => ShowItToMe(context))"><i class="oi oi-person" /></button>
        </TemplateColumn>
    </QuickGrid>

    <Paginator State="paginationState" />
}


@code {
    private List<EmployeeDto>? employees;

    PaginationState paginationState = new PaginationState() { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        employees = await Http.GetFromJsonAsync<List<EmployeeDto>>("api/Employees");
    }

    protected void ShowItToMe(EmployeeDto employee)
    {
        NavigationManager.NavigateTo($"/employees/{employee.EmployeeId}");
    }
}
