@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Fetch Data</PageTitle>

<AuthorizeView>
    <Authorized>
        <EmployeeList />
    </Authorized>

    <NotAuthorized>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>

</AuthorizeView>
