@page "/incentives"
@using CalendarPlanning.Client.Components.Incentive

@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Incentive</h3>

<CreateIncentive OnIncentiveCreated="RefreshIncentives" />
<IncentiveList @ref="incentiveList" />

@code {
    private IncentiveList incentiveList = null!;
    private bool isAdmin = false;

    private async Task RefreshIncentives() => await incentiveList.LoadIncentives(isAdmin);

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            isAdmin = user.IsInRole("Admin");
        }
    }
}