@page "/incentives"
@using CalendarPlanning.Client.Components.Incentive
@using CalendarPlanning.Shared.Models.DTO;
@inject IIncentivesService IncentivesService

@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Incentive</h3>

<CreateIncentive OnIncentiveCreated=@RefreshIncentives />
<IncentiveList Incentives="@_incentives" />

@code {
    private List<IncentiveDto>? _incentives;

    private async Task RefreshIncentives()
    {
        var (userId, isAdmin) = await IncentivesService.GetUserRoleDetails();
        _incentives = await IncentivesService.LoadIncentivesAsync(isAdmin, userId);
        StateHasChanged();
    }
}